@model List<Mini_Project.Models.EventViewModel>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="container">
    <div class="form_area">
        <p class="title">Delete an Event</p>
        <form method="post" asp-action="deleteEvent" asp-controller="Admin">
            <div class="form_group">
                <label class="sub_title" for="eventName">Choose an Event:</label>
                <select name="eventName" id="eventName" class="form_style" required>
                    @foreach (var eventItem in Model)
                    {
                        <option value="@eventItem.Name">@eventItem.Name</option>
                    }
                </select>
            </div>

            <div>
                <button type="submit" class="btn">Delete</button>
            </div>
        </form>
    </div>
</div>
